<div class="col-md-3 col-md-pull-9 category-toggle">
    <button><i class="fa fa-briefcase"></i></button>
    <div class="page-sidebar company-sidebar">

        <ul class="company-category nav nav-tabs home-tab" role="tablist">
            <li class="active">
                <a href="{{ path('entreprise_profile') }}" ><i class="fa fa-newspaper-o"></i> Profile</a>
            </li>

            <li>
                <a href="{{ path('entreprise_produit') }}"><i class="fa fa-cubes"></i>Product</a>
            </li>

            <li>
                <a href="{{ path('entreprise_portfolio') }}"><i class="fa fa-file-image-o"></i>Portfolio</a>
            </li>

            <li>
                <a href="{{ path('entreprise_events') }}"><i class="fa fa-list"></i>Events</a>
            </li>

            <li>
                <a href="{{ path('entreprise_blog') }}"><i class="fa fa-keyboard-o"></i>blog</a>
            </li>

            <li>
                <a href="{{ path('entreprise_contact') }}"><i class="fa fa-envelope-o"></i>Contact</a>
            </li>
        </ul>

        <div class="own-company">
            <a href="#"><i class="fa fa-question-circle"></i>Own This Company</a>
        </div>

        <div class="contact-details">
            <h2>Contact Details</h2>

            <ul class="list-unstyled">
                <li>
                    <strong>Name</strong>
                    <span>Inductrie LLC</span>
                </li>

                <li>
                    <strong>Founded</strong>
                    <span>2011</span>
                </li>

                <li>
                    <strong>Legal Entity</strong><span>Private</span>
                </li>

                <li>
                    <strong>Turnover</strong>
                    <span>$ 30 000 000</span>
                </li>

                <li>
                    <strong>Employs</strong>
                    <span>5 000</span>
                </li>

                <li>
                    <strong>Full Address</strong>
                    <span>San Francisco, USA</span>
                </li>

                <li>
                    <strong>ZIP Code</strong>
                    <span></span>
                </li>

                <li>
                    <strong>Phone</strong>
                    <span>*********<i class="fa fa-question-circle"></i></span>
                </li>

                <li>
                    <strong>Fax</strong>
                    <span>*********<i class="fa fa-question-circle"></i></span>
                </li>

                <li>
                    <strong>Website</strong>
                    <span>www.example.com</span>
                </li>

                <li>
                    <strong>E-mail</strong>
                    <span>email@example.com</span>
                </li>

            </ul>
        </div>

        <div class="opening-hours">
            <h2>Openig Hours</h2>

            <ul class="list-unstyled">
                <li>
                    <strong>Mo-Fr:</strong>
                    <span>9AM-5PM</span>
                </li>

                <li>
                    <strong>Sa:</strong>
                    <span>10AM-3PM</span>
                </li>

                <li>
                    <strong>Su:</strong>
                    <span>Closed</span>
                </li>
            </ul>
        </div>

        <div class="square-button">
            <a href="#"><img src="{{ asset('img/content/square-button.png') }}" alt=""></a>
            <a href="#"><img src="{{ asset('img/content/square-button.png') }}" alt=""></a>
            <a href="#"><img src="{{ asset('img/content/square-button.png') }}" alt=""></a>
            <a href="#"><img src="{{ asset('img/content/square-button.png') }}" alt=""></a>
        </div> <!-- end .sqare-button -->

    </div> <!-- end .page-sidebar -->
</div>